@model IEnumerable<MyClass.Models.ProductInfo>
@{
    var category = ViewBag.Category;
}
@if (Model.Count() != 0)
{
<div class="category-title position-relative">
    <h2 class="text-center text-uppercase">@category.Name</h2>
    <a class="float-end position-absolute top-0 end-0" href="@category.Slug">Xem tất cả</a>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="owl-carousel owl-theme">
            @foreach (var product in Model)
            {
                <div class="item product-item">
                    <div class="card" style="width: 100%">
                        <a href="~/@product.Slug">
                            <img src="~/Public//images/product/@product.Img"
                                 class="img-fluid card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <a href="~/@product.Slug">@product.Name</a>
                            </h5>
                            <h5 class="text-center">
                                <strong class="text-success">@string.Format("{0:0,0}", product.PriceSale) <sup>đ</sup></strong>
                                <del><span class="text-danger">@product.Price</span></del><sup>đ</sup>
                            </h5>
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                <a href="@Url.Action("CartAdd","GioHang", new { productid=product.Id})" class="btn btn-outline-info">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="~/@product.Slug" class="btn btn-outline-success">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--end large-12 columns-->
</div>
}
