@model IEnumerable<ShopQuanAo.Library.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";


}

<section class="maincontent clearfix">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="category-title position-relative">
                    <h2 class="text-center">Giỏ Hàng</h2>
                </div>
                @if (Model != null)
                {
                    using (Html.BeginForm("CartUpDate", "GioHang", FormMethod.Post))
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th style="width:50px">Hình</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Gía</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>
                                @{ decimal tongtien = 0;}
                                @foreach (var cart in Model)
                                {
                                    <tr>
                                        <td>@cart.ProductId</td>
                                        <td><img src="~/Public//images/product/@cart.Img" class="img-fluid card-img-top" alt="@cart.Name"></td>
                                        <td>@cart.Name</td>
                                        <td>@cart.Price</td>
                                        <td><input name="sl" value=" @cart.SL" type="number" min="1" /> </td>
                                        <td class="text-end">@string.Format("{0:0,0}", cart.Amount)</td>
                                        <td class="text-center">
                                            <a class="text-danger" href="@Url.Action("CartDel", "GioHang", new { productid = cart.ProductId })"><i class="fas fa-trash"></i></a>
                                        </td>

                                    </tr>
                                    tongtien += cart.Amount;
                                }
                                <tr>
                                    <td colspan="4">
                                        <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-success">Mua thêm sản phẩm</a>
                                        <input class="btn btn-sm btn-info" name="capnhat" value="Cập nhật" type="submit"/>
                                        <a href="@Url.Action("CartDelAll", "GioHang")" class="btn btn-sm btn-danger">Xóa đơn hàng</a>
                                        <a href="~/thanh-toan" class="btn btn-sm btn-success">Thanh toán</a>
                                    </td>
                                    <td class="text-end">Thành tiền</td>
                                    <td colspan="2" class="text-end">@tongtien</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                else
                {
                    <h3>Chưa có sản phẩm trong giỏ hàng</h3>
                }
            </div>
        </div>
    </div>
</section>
